---
import Login from '../components/Login.astro'
import TransitionPage from '../components/TransitionPage.astro'
import Proyects from '../components/Projects.astro'
import Layout from '../layouts/Layout.astro'
---

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const loginButton = document.getElementById('btn-login')

    if (loginButton) {
      loginButton.addEventListener('click', startTransition)
    } else {
      console.error('El botón de login no se encontró')
    }
  })

  function startTransition() {
    const loginSection = document.getElementById('login')
    const transitionSection = document.getElementById('transitionPage')
    const proyectsSection = document.getElementById('projects')

    if (loginSection && transitionSection && proyectsSection) {
      loginSection.style.display = 'none'

      transitionSection.style.display = 'block'
      setTimeout(() => {
        transitionSection.style.display = 'none'
        proyectsSection.style.display = 'block'
      }, 1000)
    } else {
      console.error('Alguno de los elementos necesarios no está disponible')
    }
  }
</script>

<Layout title='Empresa de Desarrollo de Software'>
  <main>
    <div id='login'>
      <Login />
    </div>
    <div id='transitionPage' style='display: none;'>
      <TransitionPage />
    </div>
    <div id='projects' style='display: none;'>
      <Proyects />
    </div>
  </main>
</Layout>
